.about-wrapper{
    max-width:900px;
    margin:auto;
}

.about-content{
    text-align:center;
}

.about-content h3{
    font-size:2rem;
    color:#FF9408;
    margin-bottom:25px;
}

.about-content p{
    font-size:1.1rem;
    line-height:2;
    color:#d1d5db;
}