.education-timeline{
    max-width:900px;
    margin:0 auto;
    position:relative;
}

.education-timeline::before{
    content:"";
    position:absolute;
    left:20px;
    top:0;
    width:3px;
    height:100%;
    background:linear-gradient(
        to bottom,
        #FF9408,
        #CA3F16
    );
}

.education-item{
    position:relative;

    margin-bottom:50px;

    padding-left:70px;
}

.education-item::before{
    content:"";
    position:absolute;

    left:10px;
    top:10px;

    width:20px;
    height:20px;

    border-radius:50%;

    background:#FF9408;

    box-shadow:
    0 0 15px rgba(255,148,8,0.6);
}

.education-content{
    background:rgba(255,255,255,0.03);

    border:1px solid rgba(255,148,8,0.15);

    border-radius:18px;

    padding:25px 30px;

    transition:.3s;
}

.education-content:hover{
    transform:translateY(-5px);

    border-color:#FF9408;
}

.education-content h3{
    color:#F3F4F5;
    margin-bottom:10px;
    font-size:1.5rem;
}

.degree{
    color:#FF9408;
    font-weight:600;
    margin-bottom:10px;
}

.year{
    color:#CA3F16;
    font-weight:600;
}

.cgpa{
    margin-top:10px;
    color:#d1d5db;
}

@media(max-width:768px){

    .education-item{
        padding-left:50px;
    }

    .education-timeline::before{
        left:12px;
    }

    .education-item::before{
        left:3px;
    }
}